@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face{
  font-family:croissant-one;
  src: url(./CroissantOne-Regular.ttf);
}
.main{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  font-size: 100px;
  font-weight: 600;
  font-family: croissant-one;
  margin-top: -90px;
}

h3{
  font-size: 40px;
  font-family:croissant-one;
}
