@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face{
  font-family:croissant-one;
  src: url(./CroissantOne-Regular.ttf);
}
.main{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('https://wallpapers.com/images/hd/peaceful-sky-view-anime-scenery-a28vmq9s05tjpiws.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-size: 100px;
  font-weight: 600;
  font-family: croissant-one;
}

h3{
  font-size: 40px;
  font-family:croissant-one;
}

.logo{
  height:200px;
  width: 200px;
}

.element{
  height: 240px;
  width: 600px;
  display: flex;
  background-color: #ffffffb1;
  border-radius: 50px;
  box-shadow: 1px 1px 10px #acacac;
}

@media (max-width: 600px){
   .main{
    height: 100vh;
    width: 100vw;
    background-size: cover;
   }
   .element{
    height: 100px;
    width: 320px;
   }
   .name{
    margin-top: -10px;
   }
   h1{
    font-size: 50px;
   }
   h3{
    font-size: 20px;
   }

   .logo{
    height: 100px;
    width: 100px;
   }
}